<h1>Forecast For @ViewData["Location"]</h1>
<table class="table table-striped">
    <tr>
        <td><img src="@ViewData["WeatherIconUrl"]" alt="@ViewData["Weather"]" />@ViewData["Weather"]</td>
    </tr>
    <tr>
        <td>Temperature: @ViewData["Temperature"]</td>
    </tr>
    <tr>
        <td>Wind: @ViewData["Wind"] mph</td>
    </tr>
    <tr>
        <td>Humidity: @ViewData["Humidity"] </td>
    </tr>
    <tr>
        <td><a href="@ViewData["ForecastUrl"]" target="_blank">More Info</a></td>
    </tr>
</table>
<br />
 <br />